FORMAT: 1A
HOST: https://stratum.registercentrum.se/

# Öppna data från Stratum

> ___Detta är en levande dokumentation som till och från kan innehålla fel eller sakna väsentlig information.___

## Vad är Stratum?
Stratum är en teknisk plattform för att beskriva, samla in och presentera data från kvalitetsregister inom hälso- och sjukvård och 
förser ett register och dess användare med bland annat en avancerad formulärapplikation och verktyg för att administrera registreringar. 
Visualisering av registerdata utvecklas (av oss eller tredje part) via ett tillägg till Chrome Devtools som vi kallar 
[SWIX](https://chrome.google.com/webstore/detail/stratum-widget-extension/lbjhgdnnkllndpjdkdpdjglkcpmimbnc?hl=sv) (Stratum Widget Extension)
och skjuts in direkt på webbplatsen. 
Statistiker kan ta fram skript som exekveras via vår R-server och levererar tillbaka data genom Stratum i JSON-format.
Stratum kan också automatiskt generera datalager från registerdata, särskilt utformade för att vara underlag till statistiska analyser
och annan dataleverans. 
Det mesta av både data och metadata är åtkomligt via våra öppna api:er och denna dokumentation beskriver i första hand dessa.

Mer information om Nationella Kvalitetsregister finns på [SKL:s webbplats för kvalitetsregister](http://www.kvalitetsregister.se/). 

## Stratums API
De flesta api-anrop kräver en api-nyckel och kan fås på begäran via mejl till [oss i Stratum-gruppen](mailto:stratum@registercentrum.se). 
En del anrop kräver stark autentisering och det framgår i så fall av respektive anropsexempel. 
En del anrop fungerar endast med https, andra över både http och https. Vid stark autentisering används alltid https.

Vissa api:er är mer REST-orienterade än andra. Eftersom alla api:er inte är bundna till "statiska"
resurser, som till exempel [aggregat](#reference/statistik/fordefinierad-aggregatstatistik) (registerstatistik på aggregerad nivå), är dessa
mer dynamiska i strukturen och URI-schemat för dessa anrop är beroende av hur ett register är konfigurerat. 
[Metadata](#reference/metadata) å andra sidan, som är ett api för beskrivande information, följer mer REST då det avspeglar "statiska" resurser
som register, formulär, frågor och svarsalternativ, som alla är statiska, entydigt definerade entiteter i Stratum.

Våra api:er kan anropas med api-nyckel och/eller så kallad inloggningskontext. En inloggningskontext fås efter stark [autentisering](#reference/autentisering)
och skickas automatiskt med vid varje anrop till Stratum.
I de fall båda existerar, det vill säga api-anrop görs med api-nyckel i ett scenario där användaren är starkt autentiserad, 
är det oftast inloggningskontexten som har högre prioritet men det finns
enstaka fall då det motsatta gäller. Detta är i så fall noterat under respektive anrop.

HTTP-statuskoder som används:
|Statuskod  |Förklaring
|-          |-
|200        |OK.
|400        |Syntaktiskt eller semantiskt fel (till exempel i URI eller parametrar).
|401        |Api-nyckel eller giltig session saknas (autentiseringsproblem).
|403        |Behörighet saknas (auktoriseringsproblem).
|404        |Efterfrågad resurs finns inte.
|405        |Otillåten anropsmetod (till exempel POST där endast GET är tillåtet).
|500        |Funktionen saknas.

Använda HTTP-metoder:
|Metod  |Avser
|-      |-
|GET    |Hämta resurs.
|PUT    |Uppdatera resurs (ger fel om resurs inte finns).
|POST   |Skapa resurs (ger fel om resurs redan finns).
|DELETE |Ta bort resurs.

All retur från api-anrop är inkapslade enligt:
```
    {
        "data": {           // Returvärde från anropet.
            ...
        },
        "success": true,    // Om anropet lyckades.
        "message": null,    // Felmeddelande om anropet inte lyckades, annars null.
        "code": 0           // Felkod om anropet inte lyckades, annars noll.
    }
```

Resultat från anrop är i JSON (endast). 

## Group Ändpunkter

# Stratums api-rot [/api]

Den här resursen innehåller länkar till api:ets olika ändpunkter, som återspeglar vilken "gren" anropet verkar inom.

## Hämta ändpunkter [GET]

+ Response 200 (application/json)

        {
            "Authentication": "/api/authentication",
            "Metadata": "/api/metadata",
            "Registrations": "/api/registrations",
            "Aggregate": "/api/aggregate",
            "Statistics": "/api/statistics",
            "Overview": "/api/overview",
            "Widgets": "/api/widgets",
            "Configurations": "/api/configurations",
            "Proxies": "/api/proxies"
        }

# Group Autentisering

En [kontext](#reference/metadata/kontext) beskriver det sammanhang inom vilket en användare kommunicerar med Stratum. 
Kontexten pekar ut en användare, en roll och en vårdenhet. 
Eftersom vårdenheter är registerspecifika pekar kontexten även ut register indirekt.
En inloggad användare är alltid knuten till en kontext. En api-nyckel pekar också ut en kontext men används enbart för att läsa öppen data.
Detta betyder att en api-nyckel är knuten till en vårdenhet även om den kan användas för generell åtkomst i de flesta sammanhang.

För att se data från kvalitetsregister krävs tvåfaktorautentisering. Inloggning kan göras med:
* __SITHS-kort__ - den rekommenderade autentiseringsmetoden för alla som arbetar inom hälso- och sjukvård i Sverige (läs mer hos [Inera](http://www.inera.se/siths)).
* __Mobilt BankID__ - erbjuds i första hand som alternativ till de som inte har möjlighet att använda SITHS-kort (läs mer hos [BankID](https://support.bankid.com/sv)).

Autentisering med "mjuka" SITHS-certifikat eller med våra egna RC-certifikat kan också användas men är bara tillåtna för dator-dator-kommunikation då de inte är av tvåfaktortyp.

_Samtliga anrop nedan kan endast göras över https._

## Inloggning [/api/authentication/login]

### Begär inloggning [GET]

Begär inloggning genom medskickat certifikat (SITHS eller RC).
Efter godkänd autentisering returneras även begäran om tilldelning av sessioncookie.

Vid status 400 returneras i attribut `code`:
|Kod    |Förklaring.
|-      |-
|1      |Giltigt certifikt saknas.
|5      |Konto saknas inloggningsbar kontext.
|6      |Ogiltigt konto för kontext.
|9      |Autentiserad session saknas.

+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)
    

+ Response 400 (application/json)

### Begär inloggning och bind till konto [POST]

Genomför inloggning med medskickat SITHS-certifikat och knyter användarkonto till certifikatinformation. 
Efter godkänd autentisering returneras även begäran om tilldelning av  sessioncookie på klienten.

Vid status 400 returneras i attribut `code`:
|Kod    |Förklaring.
|-      |-
|1      |Giltigt certifikt saknas.
|5      |Konto saknas inloggningsbar kontext.
|6      |Ogiltigt konto för kontext.
|9      |Autentiserad session saknas.

Detta anrop finns även tillgängligt i GET-version via `GET /api/authentication/assign?username=<aUsername>&password=<aPassword>`. 

+ Request (application/x-www-form-urlencoded)
    + Body
    
            username=<aUsername>&password=<aPassword>
        
+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

+ Response 400 (application/json)

## Utloggning [/api/authentication/logout]

### Begär utloggning [GET]

Genomför utloggning genom att returnera begäran om att ta bort sessioncookie på klienten.

+ Response 200 (application/json)

        null

## Sessionstid [/api/authentication/timeleft]

### Tid som återstår av session [GET]

Returnerar den tid som återstår innan aktuell session löper ut. Kan användas av en klient för att implementera utloggning på grund 
av inaktivitet. Räknaren nollställs på varje anrop till Stratum som kräver autentisering.

+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Mobilt BankID [/api/authentication/bid]

### Autentiseringsbegäran [GET /api/authentication/bid/order/{NIN}]

Initierar en begäran om autentisering via BID. Teknisk dokumentation finns hos [BankID](https://www.bankid.com/bankid_i_dina_tjanster/rp_info).

+ Parameters
    + NIN: `194103219202` (string) - Svenskt personnummer utan bindestreck och med sekel.

+ Response 200 (application/json)
    + Attributes
        + data (OrderResponse)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Statuskontroll [GET /api/authentication/bid/collect/{OrderRef}]

Hämtar aktuell status för en utestående autentiseringsbegäran. 
När returnerat status är "COMPLETED" kommer en sessionscookie med spårningsnyckel att sättas på klienten. För att inloggningen skall fungera
optimalt är det därför nödvändigt att klienten tillåter sessionscookies. I annat fall kommer användaren att behöva logga in varje gång
sidan laddas om.

Vid status 400 returneras i attribut `code`:
|Kod    |Förklaring.
|-      |-
|-1     |Felmeddelande från BID (faultString) returneras i `message`

+ Parameters
    + OrderRef: `4f748f5b-fb02-4529-c242-ddf651f964c9` (string) - Unik orderreferens från BID.

+ Response 200 (application/json)
    + Attributes
        + data: `COMPLETE` (enum[string])
            + Members 
                + `OUTSTANDING_TRANSACTION`
                + `NO_CLIENT`
                + `STARTED`
                + `USER_SIGN`
                + `COMPLETE`
                + `USER_CANCEL`
                + `EXPIRED_TRANSACTION`
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Aktuell kontext [/api/authentication/context]

### Hämta [GET]

Returnerar aktuell kontext för den som begär anropet. Kan användas för att kontrollera om anroparen är starkt autentiserad.

+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Byt [PUT]

Genomför ett kontextbyte.

Vid status 400 returneras i attribut `code`:
|Kod    |Förklaring
|-      |-
|1      |Ogiltig kontextidentifierare
|9      |Autentiserad session saknas

+ Request (application/json)
    + Body
    
            {
                "Context": {
                    "ContextID": 30730
                }
            }

+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

+ Response 400 (application/json)

# Group Metadata
Metadata i Stratum utgörs av entiteter som beskriver våra register, till exempel formulär, frågor och svarsalternativ, men även användare, roller och 
vårdenheter &mdash; själva byggstenarna i en registerbeskrivning. 

Vissa regler gäller för hur returnerade entiteter exponeras. Dessa regler är fasta och kan inte förändras genom till exempel parametrar.
En instans innehåller alltid samtliga attribut men attribut som utgör en annan entitet är realiserad enbart till första nivån. 
För en samling av entiteter är varje attribut av atomär typ realiserat men inte relaterade entiteter. 
Detta för att minska storleken och komplexiteten på resultatet.

I dagsläget tillåter vi *inte* att brukare skapar eller förändrar metadata via api-nycklar.

## Register­ [/api/metadata/registers]
`Register` är sammanhållande för registerrelaterade entiteter till exempel formulär, frågor, svar och svarsalternativ.
Endast användare med rollen Systemutvecklare kan skapa register. En tillhörande `Site`-entitet skapas automatiskt när ett register skapas.
Endast användare med rollen Koordinator kan uppdatera attribut (för det register där man är koordinator).

+ Attributes
    + Register (Register)

### Hämta [GET /api/metadata/registers/{RegisterID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + RegisterID: `100` (optional, number) - Identifierare för aktuellt register.

+ Response 200 (application/json)
    + Attributes
        + data (Register)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla [GET /api/metadata/registers?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)
    + Attributes
        + data (array[Register])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Skapa [POST /api/metadata/registers]
+ Request (application/x-www-form-urlencoded)
    + Attributes
        + RegisterName: `Testregistret` (string, required) - Namn på registret (svenska).
        + RegisterNameInEnglish: `Test register` (string) - Namn på registret (engelska).
        + ShortName: `RC` (string, required) - Registrets förkortade namn.
        + ResourceScript: `return '<p>Intressant information</p>'` (string) - Skript för att visa information överst i händelsepanelen i registreringsapplikationen (HTML kan returneras).
        + GenericScript: `{}` (string) - JSON-objekt för registerspecifika beräkningar och andra gemensamma funktioner (för både server och klient).
        + WidgetScript: `{}` (string) - JSON-objekt med stödfunktioner för programkomponenter (endast för klient).
        + IsLookupBound: `true` (boolean) - Om personnummerkontroll är ett krav eller kan kringgås.
        + IsUnderDevelopment: `false` (boolean) - Om registret är under utveckling (döljs i vissa api-anrop).

+ Response 200 (application/json)
    + Attributes
        + data (Register)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Uppdatera [PUT /api/metadata/registers/{RegisterID}]
+ Parameters
    + RegisterID: `100` (optional, number) - Identifierare för aktuellt register.
+ Request (application/x-www-form-urlencoded)
    + Attributes
        + RegisterName: `Testregistret` (string) - Namn på registret (svenska).
        + RegisterNameInEnglish: `Test register` (string) - Namn på registret (engelska).
        + ShortName: `RC` (string) - Registrets förkortade namn.
        + ResourceScript: `return '<p>Intressant information</p>'` (string) - Skript för att visa information överst i händelsepanelen i registreringsapplikationen (HTML kan returneras).
        + GenericScript: `{}` (string) - JSON-objekt för registerspecifika beräkningar och andra gemensamma funktioner (för både server och klient).
        + WidgetScript: `{}` (string) - JSON-objekt med stödfunktioner för programkomponenter (endast klient).
        + IsLookupBound: `true` (boolean) - Om personnummerkontroll är ett krav eller kan kringgås.
        + IsUnderDevelopment: `false` (boolean) - Om registret är under utveckling (döljs i vissa api-anrop).

+ Response 200 (application/json)
    + Attributes
        + data (Register)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


## Formulär [/api/metadata/forms]

<a name="FormScope"></a>
`Form` i Stratum kan ses som en gruppering av [frågor](#reference/metadata/fraga), relevanta att ställa till ett subjekt (oftast en patient)
vid en given tidpunkt i en process (oftast en vårdprocess). 
Eftersom Stratum inte är begränsat till patienter använder vi abstraktionen [subjekt](#reference/metadata/subject), i bemärkelsen mätobjekt.
Alla registreringar i Stratum är knutna till ett formulär. Ett formulär kan antingen vara bundet till ett subjekt eller en vårdenhet. 
En subjektbunden registrering är vanligtvis en registrering som utförs av vårdpersonal om en patients behandling eller besök 
men kan också vara en att en patient själv besvarar frågor om upplevda resultat av behandlingen 
(så kallad [PROM](http://www.kvalitetsregister.se/drivaregister/patientmedverkan/patientrapporteradematt.1988.html)).

Enhetsbundna registreringar används för till exempel teknikprofiler, praxisregistreringar och liknande, där man samlar in information en vårdenhet vid en given tidpunkt.
I dessa registreringar förekommer inte personnummer eller annat som kan identifiera enskilda individer ocg därför är registreringar i dessa formulär öppna data.

`FormScope` anger formulärets användningsområde:
| |Registreras av   |Förklaring
|-|-                |-
|0|Registrerare     |Subjektbunden registrering.
|1|Registrerare     |Enhetsbunden registrering.
|2|Registrerare     |Subjektbunden registrering över vårdgivargränser ("cross border").
|3|Patient          |Subjektbunden registrering utförd direkt av patient ("proxy reported").
|4|Registrerare     |Enhetsbunden registrering som delas av flera register ("cross register").

Endast en koordinator kan ändra attribut i sitt registers formulär.

+ Attributes
    + Form (Form)

### Hämta [GET /api/metadata/forms/{FormID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string, optional) - API-nyckel.
    + FormID: `1001` (number, required) - Identifierare för aktuellt formulär.

+ Response 200 (application/json)
    + Attributes
        + data (Form)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla för ett register [GET /api/metadata/forms/register/{RegisterID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string, optional) - API-nyckel.
    + RegisterID: `100` (number, required) - Identifierare för aktuellt register.

+ Response 200 (application/json)
    + Attributes
        + data (array[Form])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Skapa [POST /api/metadata/forms]
+ Request (application/x-www-form-urlencoded)
    + Attributes
        + FormName: `TestForm` (string) - Giltig identifierare i strängform.
        + FormTitle: `Testformulär` (string, required) - Titel.
        + TableName: `x1005` (string, required) - Namn på tabell i databas.
        + FormScope: `1` (number, required) - Anger formulärets målgrupp och användningsområde (se [tabell](#FormScope)).
        + Register (object, required) - Register formuläret skall tillhöra.
            +  RegisterID: `100` (number)
        + Parent (object, optional) - Ägande formulär (saknas för rotformulär).
            + FormID: `1001` (number)

+ Response 200 (application/json)
    + Attributes
        + data (Form)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Uppdatera [PUT /api/metadata/forms/{FormID}]
+ Parameters
    + FormID: `1001` (number, required) - Identifierare för aktuellt formulär.

+ Request (application/x-www-form-urlencoded)
    + Attributes
        + FormName: `TestForm` (string) - Giltig identifierare i strängform.
        + FormTitle: `Testformulär` (string) - Titel.
        + TableName: `x1005` (string) - Namn på tabell i databas.
        + FormScope: `1` (number) - Anger formulärets målgrupp och användningsområde (se [tabell](#FormScope)).

+ Response 200 (application/json)
    + Attributes
        + data (Form)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


## Variabel [/api/metadata/questions]
`Question`-entiteten utgör en beskrivning av en fråga/svar i ett formulär och kan ses som en beskrivning av en registervariabel utifrån ett statistiskt perspektiv.
Ett formulär kan innehålla ett obegränsat antal variabler men kan bara förekomma i ett formulär.
Vissa attribut används endast för presentation, till exempel `Span` och `Position`, som kan ses som förslag till hur en variabel bör positioneras på ett formulär. 
De flesta variabler motsvarar en fråga i ett formulär som besvaras av användare (registrerare eller patient). 

Till varje variabel kan ett valideringsskript anges, till exempel:
```
return Current.Height < 250
```

Till varje variabel kan ett beräkningsskript anges, till exempel:
```
return new Date()
```
Beroende på attributet `RunOnce` i variabelkonfigurationen fungerar beräkningen på olika sätt. Om den är `true` kommer värdet beräknas initialt men kan ändras. 
Om den är `false` beräknas värdet då formuläret sparas och kan inte ändras manuellt.

En variabel konfigureras för vissa specialfunktioner. 

**Grupperad variabel**

Denna typ använder en värdegrupp i Stratum för att avbilda ett inmatat värde till ett annat. På så sätt kan man till exempel åstadkomma en gruppering av
diagnoser i en dignosgrupp. Om en målvariabel kallad `DiaGrp` läggs upp med beräkningsskript enligt nedan, och domän anges till
en uppräkningsdomän som är grupperad, så kommer automatiskt värden att översättas (grupperas) från `Diagnos` till `DiaGrp` då en registrering sparas. 
```
//# target=server
//# map=Diagnos
```

**Arkiverad variabel**

Denna variant gör att en variabel inte längre syns i formulär, inte heller beräknas eller valideras på nytt, men är däremot synlig
i datalager. En arkiverad variabel kan också används i api-sammanhang som en vanlig variabel. Typiskt används detta när 
ett register bestämmer sig för att slopa en variabel men vill ha alla inmatade värden kvar.
```
//# target=server
//# archived
```

**Dold beräknad variabel**

Denna typ är densamma som en vanlig beräknad variabel med den enda skillnaden att den inte syns i registreringsformulär. Däremot kommer
den ut i datalager och kan adresseras via api:er
```
//# target=server
return 42
```

+ Attributes
    + Question (Question)

### Hämta [GET /api/metadata/questions/{QuestionID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + QuestionID: `24205` (number) - Identifierare för aktuell variabel.

+ Response 200 (application/json)
    + Attributes
        + data (Question)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


## Domän [/api/metadata/domains/{DomainID}?apikey={APIKey}]
`TODO: beskrivning`

+ Attributes
    + Domain (Domain)

+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + DomainID: `4000` (optional, number) - Identifierare för en domän.

### Hämta [GET]
+ Response 200 (application/json)
    + Attributes
        + data (Domain)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla gemensamma [GET /api/metadata/domains/common?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)
    + Attributes
        + data (array[Domain])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla gemensamma som avbildning [GET /api/metadata/domains/map/common?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)
    + Attributes
        + data (array[Domain])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla som tillhör ett register [GET /api/metadata/domains/register/{RegisterID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + RegisterID: `100` (optional, number) - Identifierare för ett register.

+ Response 200 (application/json)
    + Attributes
        + data (array[Domain])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla som tillhör ett register som avbildning [GET /api/metadata/domains/map/register/{RegisterID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + RegisterID: `100` (optional, number) - Identifierare för ett register.

+ Response 200 (application/json)
    + Attributes
        + data (array[Domain])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Skapa [POST /api/metadata/units]
+ Response 200 (application/json)
    + Attributes
        + data (Domain)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Uppdatera [PUT]
+ Response 200 (application/json)
    + Attributes(Domain)


## Domänvärde [/api/metadata/domainvalues]
`TODO: beskrivning`

+ Attributes
    + DomainValue (DomainValue)

### Hämta [GET /api/metadata/domainvalues/{DomainValueID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + DomainValueID: `55249` (number) - Identifierare för aktuellt domänvärde.

+ Response 200 (application/json)
    + Attributes
        + data (DomainValue)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Vårdenhet [/api/metadata/units/{UnitID}?apikey={APIKey}]
En vårdenhet kan vara inom primär- eller slutenvård, privat eller offentlig och identifierar en lokalisering där behandling utförs. 
Ett register avgör självt vilka vårdenheter som skall finnas och vad de skall kallas i sitt register. I en vidare bemärkelse kan också andra 
lokaliseringar vara enheter, till exempel registerorganisationer, företag, med flera.

+ Attributes
    + Unit (Unit)

+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + UnitID: `2000` (optional, number) - Unik identifierare för en vårdenhet.

### Hämta [GET]
+ Response 200 (application/json)
    + Attributes
        + data (Unit)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Skapa [POST /api/metadata/units?apikey={APIKey}]
+ Response 200 (application/json)
    + Attributes
        + data (Unit)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Uppdatera [PUT]
+ Response 200 (application/json)
    + Attributes
        + data (Unit)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Användare [/api/metadata/users/{UserID}?query={QueryString}]
Vårdpersonal som registrerar, koordinatorer, api-brukare, dataleverantörer och integratörer är alla upplagda som användare, 
även om det är [kontexten](#reference/metadata/kontext) som är den huvudsakliga entiteten som beskriver vad en användare kan göra i systemet vid ett givet tillfälle.
En användare måste ha minst en kontext men kan ha flera.
Användare läggs upp och administreras av koordinatorer via komponenten "Användarhanteraren". 

+ Attributes
    + User (User)

### Hämta [GET /api/metadata/users/{UserID}]
+ Parameters
    + UserID: `90000` (optional, number) - Unik identifierare för en användare.

+ Response 200 (application/json)
    + Attributes
        + data (User)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Sök [GET /api/metadata/users?query={QueryString}]
+ Parameters
    + QueryString: `SE23 Robert` (string) - Ett eller flera ord separerade med blanktecken. Sökning görs med OCH-villkor mellan alla ord i alla attribut.

+ Response 200 (application/json)
    + Attributes
        + data (array[User])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Skapa [POST /api/metadata/users/]
+ Response 200 (application/json)
    + Attributes
        + data (User)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Uppdatera [PUT /api/metadata/users/{UserID}]
+ Parameters
    + UserID: `90000` (optional, number) - Unik identifierare för en användare.
+ Response 200 (application/json)
    + Attributes
        + data (User)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Kontext [/api/metadata/contexts/{ContextID}?contextid={CallerContextID}]
En kontext är den entitet som beskriver auktoriseringsinformation - en användare, en roll och en vårdenhet. 
Vid varje autentiserat anrop (starkt såväl som via api-nyckel) så är det den aktuella kontexten som avgör användarens behörighet.
Vad som är aktuell kontext avgörs med hjälp av två sessionscookies, som gör det möjligt att vara autentiserad på olika sätt 
i olika webbläsare eller flikar i samma webbläsare.
Det spelar ingen roll om en användare har tillgång till en annan kontext som ger behörighet, det är den
aktuella kontexten som gäller. Enda undantaget från denna regel är i särskilda fall för rollen Systemutvecklare.

+ Attributes
    + Context (Context)

### Hämta [GET /api/metadata/contexts/{ContextID}]
+ Parameters
    + ContextID: `20000` (optional, number) - Unik identifierare för en kontext.
+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla för vårdenhet [GET /api/metadata/contexts/unit/{UnitID}]
+ Parameters
    + UnitID: `2000` (required, number) - Identifierare för vårdenhet som kontexterna skall tillhöra.
+ Response 200 (application/json)
    + Attributes
        + data (array[Context])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta alla för användare [GET /api/metadata/contexts/unit/{UserID}]
+ Parameters
    + UserID: `90000` (number, required) - Identifierare för användare som kontexterna skall tillhöra.

+ Response 200 (application/json)
    + Attributes
        + data (array[Context])
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Hämta för registrering [GET /api/metadata/contexts/registration/{EventID}]
+ Parameters
    + EventID: `12345678` (number, required) - Identifierare för registrering vars kontext skall returneras.
+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Skapa [POST /api/metadata/contexts]
+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

### Uppdatera [PUT /api/metadata/contexts/{ContextID}]
+ Parameters
    + ContextID: `20000` (optional, number) - Unik identifierare för en kontext.
+ Response 200 (application/json)
    + Attributes
        + data (Context)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


## Resurs [/api/metadata/resources]
`TODO: beskrivning`

+ Attributes
    + Resource (Resource)

### Hämta [GET /api/metadata/resources/{ResourceID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + ResourceID: `30016` (number) - Identifierare för aktuell resurs.

+ Response 200 (application/json)
    + Attributes
        + data (Resource)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Webbplats [/api/metadata/sites]
`TODO: beskrivning`

+ Attributes
    + Site (Site)

### Hämta [GET /api/metadata/sites/{SiteID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + SiteID: `100` (number) - Identifierare för aktuell resurs.

+ Response 200 (application/json)
    + Attributes
        + data (Site)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


## Webbsida [/api/metadata/pages]
`TODO: beskrivning`

+ Attributes
    + Page (Page)

### Hämta [GET /api/metadata/pages/{PageID}?apikey={APIKey}]
+ Parameters
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.
    + PageID: `100` (number) - Identifierare för aktuell webbsida.

+ Response 200 (application/json)
    + Attributes
        + data (Page)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)

## Subjekt [/api/metadata/subjects]
`TODO: beskrivning`
Eftersom Stratum kan hantera registreringar som inte är knutna till patienter använder vi abstraktionen "subjekt", i bemärkelsen mätobjekt.

+ Attributes
    + Subject (Subject)

### Hämta [GET /api/metadata/subjects/{SubjectID}]
+ Parameters
    + SubjectID: `100` (number) - Identifierare för aktuellt subjekt (patient).

+ Response 200 (application/json)
    + Attributes
        + data (Subject)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


## Loggrad [/api/metadata/logentries]
`TODO: beskrivning`

+ Attributes
    + LogEntry (LogEntry)

### Hämta [GET /api/metadata/logentries/{LogEntryID}]
+ Parameters
    + LogEntryID: `100` (number) - Identifierare för aktuellt subjekt (patient).

+ Response 200 (application/json)
    + Attributes
        + data (LogEntry)
        + success: `true` (boolean)
        + message: `null` (string)
        + code: `0` (number)


# Group Registreringar
`TODO Allmän beskrivning`

## Instanser och kollektioner [/api/registrations]
`TODO Allmän beskrivning`

### Hämta instans via händelseidentifierare [GET /api/registrations/?apikey={anAPIKey}]
+ Parameters
    + anAPIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)

        {
        }

## Specialiserade kollektioner [/api/overview]
`TODO Allmän beskrivning`

### Hämta [GET /api/overview/?apikey={anAPIKey}]
+ Parameters
    + anAPIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)

        {
        }


# Group Statistik

`TODO Allmän beskrivning`

## Fördefinierad aggregatstatistik [/api/aggregate]

> _Obs! Denna sektion är bara påbörjad._

`TODO Fördelar och nackdelar`
- komplext att göra optimeringar för generella databasfrågor
- saknat stöd för mer avancerade beräkningar på databasnivå
- svårighet att anrop begripliga och pedagogiska på grund av komplexitet

`TODO Snabbt få ut resultat i nystartade register och vid varibelförändringar`

`TODO Experimentell datanalys`

### Hämta [GET /api/aggregate/{aShortName}/{aFormName}?apikey={APIKey}]
+ Parameters
    + aShortName: `LVR` (string) - Registrets kortnamn.
    + aFormName: `Visit` (string) - Formulär att utgå från (variabler från överliggande formulär finns också tillgängliga).
    + APIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)

        {
        }

## Skräddarsydd statistik via R [/api/statistics]

För mer avancerad statistik än den som går att ta fram via [aggregat](#reference/statistik/fordefinierad-aggregatstatistik) 
finns stöd för att returnera resultat från R-skript. 
Likt övriga anrop retuneras endast resultat i JSON-format, inte bilder eller 
andra typer av resurser. Detta för att få så generellt användningsområde och hög återanvändbarhet som möjligt.

Exempel på R-skript:

```R
# En funktion som heter "Run" är ett krav (kan ta parametrar).
Run <- function() { 

  # Ladda in datalager och gemensamma funktioner.
  Load("LVR/.RData")

  # Ange resultatets målgrupp (se förklaring nedan).
  Scope <<- 1

  # Själva koden för resultatet ...
  table(Map(datafinal$SmokingVisit)) 

}
```

Notera att:
- Skript måste sparas som UTF-8. Detsamma gäller även strängliteraler. Allting i textform som överförs från Stratum är redan i UTF-8, till exmpel varibel- och värdeetiketter.
- Namn på R-skript kan enbart bestå av gemener. Lämpligt är att använda den syntax som är vanligast för webbapplikationer, det vill enbart gemener med streck (minustecken) mellan ord, till exempel `number-of-registrations.R`.
- Filändelsen på ett R-skriptet skall vara `.R`, __inte__ `.r`.
- Eventuella parametrar alltid överförs som strängar (en följd av att de överförs från adressen till api-anropet).

För något resultat skall levereras ut _måste_ målgrupp specificeras, vilket görs genom att tilldela den globala 
variabeln `Scope` ett värde (notera att `<<-` används, inte `<-` i exemplet ovan). `Scope` skall tilldelas ett av nedanstående värden:

|Scope      |Förklaring
|-          |-
|1          |Anonyma data, tillgängliga för alla.
|2          |Personidentifierbara data inom en vårdgivare.
|3          |Personidentifierbara data för flera vårdgivare.

> Observera att det är mycket viktigt att ansvarig statistiker tilldelar __rätt värde__ för `Scope` eftersom risk annars finns att personidentifierbar data 
visas för obehöriga användare.

R-skript har tre variabler tillgängliga, som håller information om anropande part:

__Scope.Unit__

Identifierare (UnitCode) för anropande vårdenhet. Observera att det som skickas över är _registrets kod för vårdenheten_ (UnitCode), __inte__ Stratums globalt unika identifierare för vårdenhet (UnitID). 
Kan till exempel användas för att anpassa resultat för specifika vårdenheter i ett register.

__Scope.User__

Identifierare (UnitID) för anropande användare. 
Kan till exempel användas för att avgränsa resultat till endast en användare.

__Scope.Role__

Identifierare (RoleID) med anroparens roll.
Kan till exempel användas för att leverera resultat inom eller tvärsöver vårdgivargränser beroende på roll.
Möjliga värden:

|       |Roll               |Syfte                                                                                          |Läsa/Skriva        |Inloggning
|-      |-                  |-                                                                                              |-                  |-
|101    |Dataleverantör     |Leverera data till Stratum, till exempel via webbtjänst eller api.                             |Skriva             |Nej
|201    |API-klient         |Hämta öppna data.                                                                              |Läsa               |Nej
|301    |Integratör         |Hämta registreringar tvärs över vårdgivargränser i syfte att integrera system.                 |Läsa               |Nej
|901    |Registrerare       |Registrera och hämta data för vårdenheten (vårdpersonal).                                      |Läsa och skriva    |Ja
|902    |Plusregistrerare   |Registrerare med något större befogenheter (vårdpersonal)                                      |Läsa och skriva    |Ja
|903    |Koordinator        |Registrera och hämta data över vårdgivargränser. Kan administrera register (registerpersonal)  |Läsa och skriva    |Ja
|906    |Systemutvecklare   |Kan spara programkomponenter och skapa/administrera register (registercentrumpersonal)         |Läsa och skriva    |Nej

I själva api-anropet finns också stöd för att skicka med parametrar, till exempel `/api/statistics/brimp/test?diagnos=M16.1`. 
Dessa hamnar då som argument till anropet av R-skriptet, det vill säga som `Run(diagnos="M16.1")`. 
Parametrar som överförs är versalkänsliga, till exempel om Run-funktionen i skriptet `test.R` är deklarerad som `Run(diagnos)` 
fungerar det inte att göra anrop med `/api/statistics/brimp/test?Diagnos=M16.1`.
Alla parametrar överförs som textsträngar.

### Exempel från LVR, senaste version [GET /api/statistics/{aShortName}/{aScriptName}?apikey={anAPIKey}&rinvoke=1]
+ Parameters
    + aShortName: `LVR` (string) - Registrets kortnamn.
    + aScriptName: `test` (string) - R-skript att exekvera (utan .R i slutet).
    + anAPIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)

        {
            "Aldrig varit rökare": 8039,
            "Slutat röka för >6 månader sedan": 18215,
            "Slutat röka för <6 månader sedan": 2084,
            "Röker, men inte dagligen": 784,
            "Röker dagligen 1-9 cigaretter/dag": 6252,
            "Röker dagligen 10-19 cigaretter/dag": 4947,
            "Röker dagligen >20 cigaretter/dag": 1459
        }
        
### Exempel från BOA, specifik version [GET /api/statistics/{aShortName}/{aScriptName}/{aVersion}?apikey={anAPIKey}&rinvoke=1]
+ Parameters
    + aShortName: `BOA` (string) - Registrets kortnamn.
    + aScriptName: `test` (string) - R-skript att exekvera (utan .R i slutet).
    + aVersion: `492` (optional, number) - Version av R-skript (senasta versionen om den utelämnas).
    + anAPIKey: `J6b-GSKrkfk=` (string) - API-nyckel.

+ Response 200 (application/json)

        [
            {
                "k": "Höft",
                "v": [
                    {
                        "k": "Man",
                        "v": 4735
                    },
                    {
                        "k": "Kvinna",
                        "v": 10051
                    }
                ]
            },
            {
                "k": "Knä",
                "v": [
                    {
                        "k": "Man",
                        "v": 10144
                    },
                    {
                        "k": "Kvinna",
                        "v": 22157
                    }
                ]
            },
            {
                "k": "Hand",
                "v": [
                    {
                        "k": "Man",
                        "v": 149
                    },
                    {
                        "k": "Kvinna",
                        "v": 885
                    }
                ]
            }
        ]


# Group Konfigurationer

## Generiska funktioner [/api/configurations/globals]
En uppsättning funktioner av generisk karaktär i Stratum, till exempel datumkonvertering, ålders-/könsberäkning, ägarregistrering, underregistreringar. 
Även användbara attribut såsom Stratumversion och aktuellt produktionsläge är inkluderade. API-nyckel behöves inte för detta anrop.

### Hämta [GET]
+ Response 200 (application/json)

        {
            "StratumVersion": "2.78.3708",
            "DeploymentMode": "PROD",
            "Methods": [...]
        }

## Huvudnavigation [/api/configurations/navigation/{aSiteID}?apikey={anAPIKey}]
Hierarkisk navigation för ett registers webbplats. 

### Hämta[GET]
+ Parameters
    + aSiteID: `100` (number) - Webbplatsens identifierare.
    + anAPIKey: `J6b-GSKrkfk=` (optional, string) - API-nyckel.

+ Response 200 (application/json)

        [
            {
                "leaf": true,
                "id": 1001,
                "level": 0,
                "text": "Om Stratum",
                "children": null
            },
            {
                "leaf": true,
                "id": 1097,
                "level": 0,
                "text": "Kontakta oss",
                "children": null
            },
            {
                "leaf": true,
                "id": 1863,
                "level": 0,
                "text": "Registerförteckning",
                "children": null
            },
            {
                "leaf": false,
                "id": 1661,
                "level": 0,
                "text": "Dokumentation",
                "children": [...]
            },
            {
                "leaf": false,
                "id": 1856,
                "level": 0,
                "text": "Administration",
                "children": [
                    {
                        "leaf": true,
                        "id": 1336,
                        "level": 1,
                        "text": "Dina resurser",
                        "children": null
                    },
                    {
                        "leaf": true,
                        "id": 2126,
                        "level": 1,
                        "text": "Registerutdrag",
                        "children": null
                    }
                ]
            },
            {
                "leaf": false,
                "id": 1743,
                "level": 0,
                "text": "Internt",
                "children": [...]
            }
        ]

## Applikationsnavigation [/api/configurations/navigation/scoped/{aSiteID}]
> ___Stark autentisering krävs___

Navigation för registreringsapplikationen. Se avsnittet om [sidadressering](#reference/sidadressering) för en förklaring till attributet `PageScope`.
Minst en sida med `PageScope 1` måste finnas, eftersom denna visas initialt när man startar registrerinsapplikationen. Denna navigation  
är en flat struktur till skillnad från [huvudnavigationen](#reference/ovrigt/huvudnavigation) som kan vara hierarkisk.

### Hämta[GET]
+ Parameters
    + aSiteID: `100` (number) - Webbplatsens identifierare.

+ Response 200 (application/json)

        [
            {
                "PageID": 1797,
                "PageTitle": "Vår sida",
                "PageScope": 1
            },
            {
                "PageID": 2057,
                "PageTitle": "Information",
                "PageScope": 2
            }
        ]

# Group Komponenter
> _Obs! Denna sektion är bara påbörjad._

`TODO beskrivning av widgets`

## Komponenter [/api/widgets]
> _Obs! Denna sektion är bara påbörjad._

`TODO Komponenter`

### Hämta[GET]
+ Response 200 (application/json)

        {
        }

# Group Bjudningar
> _Obs! Denna sektion är bara påbörjad._

`TODO beskrivning av proxies`

Tabellen nedan visar de statusvärden en bjudning kan anta (domän 3101 - "ReplyStatus"):

|Värde  |Betydelse
|-      |-
|0      |Upplagd
|1      |Skickad elektroniskt
|2      |Skickad via post
|11     |1:a påminnelse skickad
|12     |2:a påminnelse skickad
|99     |Utgår
|100    |Besvarad
|110    |Avbruten

## Bjudningar [/api/proxies]
> _Obs! Denna sektion är bara påbörjad._

`TODO Bjudningar`

### Hämta[GET]
+ Response 200 (application/json)

        {
        }

# Group Sidadressering
Det finns olika sätt att adressera innehåll i Stratum. Med innehåll menas här ett HTML-innehåll på en av Stratums webbplatser (inte api:er, filtjänster eller webbtjänster). 
Innehållet kan vara sidor (med eller utan komponenter - "widgets"), registreringsapplikationens startsida, formulär eller befintliga registreringar.
Vad gäller sidor hör dessa till ett av tre möjliga `PageScope` som beskriver i vilket sammanhang sidan och dess tillhörande navigation visas:
|PageScope  |Funktion
|-          |-
|0          |Sidor som finns i den yttre navigationen, det vill säga sidor som normalt sett alla användare ser (om det inte finns behörigheter som spärrar). På denna nivå finns vanliga sidor, med eller utan dynamiskt innehåll (widgets).
|1          |Sidor som syns i navigationen när man gått in i registreringsapplikationen (normalt genom att klicka på "Registrera"). Vanligt tillämpningsområde för dessa sidor är enhetsspecifika resultat.
|2          |Sidor som syns i navigationen när man är inne i registreringsappliaktionen och har sökt upp en patient. För dessa behöver man också skicka med parametern aSubjectKey för att peka ut vilket subjekt som avses. Vanligt tillämpningsområde är subjektspecifika resultat, till exempel en patientprofil.

Alla sidtyperna kan direktadresseras ("link-in") och tillhörande Stratum-funktioner kommer laddas in automatiskt om de inte redan är inladdade. Utöver sidinnehåll kan även tomma 
registreringsformulär och befintliga registreringar adresseras för både patientbundna och enhetsbundna registreringar. Generellt gäller 
att om efterfrågad resurs kräver auktorisering, och denna inte finns, så visas en 404-sida ("Oops!").

## Sida [/#!page?id={aPageID}?key={aSubjectKey}]
`/#!page?id=<aPageID>?key=<aSubjectKey>`

Visar sidinnehållet som idetifieras av `aPageID` och kan peka på en sida som finns i vilket `PageScope` (se [förklaring](#reference/sidadressering) ovan) som helst. 
Om en sida finns på en annan webbplats så laddas webbplatsen först. Om sidans `PageScope` är 2 så är parametern `aSubjectKey` obligatorisk.

___Stark autentisering krävs om sidans `PageScope` är 1 eller 2.___

### Hämta[GET]
+ Parameters
    + aPageID: `1001` (number) - Sidans identifierare.
    + aSubjectKey: `19121212-1212` (optional, string) - Personnummer (subjektnyckel).
+ Response 200 (text/html)

## Subjekt [/#!subject?key={aSubjectKey}]
`/#!subject?key=<aSubjectKey>`

Visar registreringshistoriken i registrerinsapplikationen för det subjekt som identifieras av `aSubjectKey`. Vyn är densamma som om användaren 
sökt upp ett subjekt.

___Stark autentisering krävs.___

### Hämta[GET]
+ Parameters
    + aSubjectKey: `19121212-1212` (optional, string) - Personnummer (subjektnyckel).
+ Response 200 (text/html)

## Nytt huvudformulär [/#!form?id={aFormID}?key={aSubjectKey}]
`/#!form?id=<aFormID>?key=<aSubjectKey>`

Öppnar ett nytt huvudformulär som identifieras av `aFormID`, för det subjekt som identifieras av `aSubjectKey`. 
För enhetsbudna formulär utelämnas `aSubjectKey`.

___Stark autentisering krävs (för patientbundna formulär).___

### Hämta[GET]
+ Parameters
    + aFormID: `1005` (number) - Formulärets identifierare.
    + aSubjectKey: `19121212-1212` (optional, string) - Personnummer (subjektnyckel).
+ Response 200 (text/html)

## Nytt underformulär [/#!form?id={aFormID}?parent={anEventID}]
`/#!form?id=<aFormID>?parent=<anEventID>`

Öppnar ett nytt underformulär som identifieras av `aFormID`, för den registrering som identifieras av `anEventID`. 

___Stark autentisering krävs.___

### Hämta[GET]
+ Parameters
    + aFormID: `1005` (number) - Underformulärets identifierare.
    + anEventID: `11244670` (number) - Registreringsidentifierare.
+ Response 200 (text/html)

## Registrering [/#!event?id={anEventID}]
`/#!event?id=<anEventID>`

Visar den registrering som identifieras av `anEventID` i sitt formulär, precis som om användaren klickat 
på en registrering i registreringapplikationen. Detta gäller oberoende av om `anEventID` pekar ut en subjekt- eller enhetsbunden registrering.

___Stark autentisering krävs för patientbundna registreringar.___

### Hämta[GET]
+ Parameters
    + anEventID: `1001` (number) - Registreringsidentifierare.
+ Response 200 (text/html)

## Enhetsbundna registreringar [/#!profile]
`/#!profile`

Vid denna adressering startas registreringsapplikationen och visar registrets enhetsbundna registreringar, till exempel teknikprofil, vårdenhetspraxis och liknande.
### Hämta[GET]
+ Response 200 (text/html)


# Data Structures

## Stratums entiteter

## Wrapper (object)
+ data: `{ ... }` (string) - Returvärde från anropet.
+ success: `true` (boolean) - Om anropet lyckades.
+ message: `null` (string) - Eventuellt felmeddelande (null annars).
+ code: `0` (number) - Eventuell felkod (0 annars).

## Register (object)
+ RegisterID: `100` (number, required) - Unik identifierare.
+ RegisterName: `Testregistret` (string, required) - Namn på registret (svenska).
+ RegisterNameInEnglish: `Test register` (string) - Namn på registret (engelska).
+ ShortName: `RC` (string, required) - Registrets förkortade namn.
+ ResourceScript: `return '<p>Intressant information</p>'` (string) - Skript för att visa information överst i händelsepanelen (HTML kan returneras).
+ GenericScript: `{}` (string) - JSON-objekt för registerspecifika beräkningar och andra gemensamma funktioner (för både server och klient).
+ WidgetScript: `{}` (string) - JSON-objekt med stödfunktioner för programkomponenter (endast klient).
+ IsLookupBound: `true` (boolean, required) - Om personnummerkontroll är ett krav eller kan kringgås.
+ IsUnderDevelopment: `false` (boolean, required) - Om registret är under utveckling (döljs i vissa api-anrop).
+ Site (Site, required) - Tillhörande Site-entitet.

## Form (object)
+ FormID: `1001` (number, required) - Identifierare.
+ FormName: `TestForm` (string, required) - Giltig identifierare i strängform.
+ FormTitle: `Testformulär` (string, required) - Titel.
+ TableName: `x1005` (string, required) - Namn på tabell i databas.
+ FormScope: `1` (number, required) - Anger formulärets målgrupp och användningsområde (se [tabell](#FormScope)).
+ Register (Register, required) - Tillhörande register.
+ ParentForm (Form) - Ägande formulär (saknas för rotformulär).

## Question (object)
+ QuestionID: `24205` (number, required) - Identifierare.
+ ColumnName
+ MappedTo
+ PrefixText
+ SuffixText
+ RunOnce
+ CalculationScript
+ ValidationScript
+ ControlScript
+ HelpNote
+ Sequence
+ Position
+ Span
+ IsMandatory
+ IsIdentifier
+ Form (Form)
+ Domain (Domain)

## Domain (object)
+ DomainID: `4000` (number, required) - Identifierare.
+ DomainName: `TypeOfProject` (string) - Giltig identifierare i strängform.
+ DomainTitle: `Projektdatabasen: typ av projekt` (string) - Titel.
+ IsInteger: `true` (boolean) - Om domänens tillhörande värden begränsas till heltal.
+ Register (Register) - Tillhörande register (saknas om generisk domän).

## DomainValue (object)
+ DomainValueID: `50018` (number, required) - Identifierare.
+ ValueName: `Jag går utan svårigheter` (string, required) - Värdebeskrivning.
+ ValueCode: `1` (string, required) - Värdekod.
+ IsActive: `true` (boolean, required) - Om värde skall visas och få användas i nya registreringar.
+ Sequence: `13` (number, required) - Ordningstal för sortering.
+ Domain (Domain, required) - Tillhörande domän.

## Unit (object)
+ UnitID: `2000` (required, number) - Unik identifierare.
+ UnitCode: `26` (required, number) - Registrets egna vårdenhetskod.
+ UnitName: `Testkliniken` (required, string) - Registrets egna vårdenhetsnamn.
+ IsActive: `true` (optional, boolean) - Om aktiv.
+ HSAID: `SE2321000131-E000000002241` (optional, string) - ID i Hälso- och Sjukvårdens Adressregister (om registret angett denna).
+ PARID: `null` (optional, string) - ID i Patientregistret (om registret angett denna).
+ Register (Register, required) - Registertillhörighet.
+ Bindings (array[UnitBinding], optional) - Lista av egenskaper, till exempel landsting eller vårdnivå.

## ShallowUnit (object)
+ UnitID: `2000` (number, required) - Unik identifierare.
+ UnitCode: `26` (number, required) - Registrets egna kod.
+ UnitName: `Testkliniken` (string, required) - Registrets egna namn.
+ IsActive: `true` (boolean) - Om aktiv.
+ HSAID: `SE2321000131-E000000002241` (string) - ID i Hälso- och Sjukvårdens Adressregister (om registret angett denna).
+ PARID: `null` (string) - ID i Patientregistret (om registret angett denna).

## UnitBinding (object)
+ UnitID: `2000` (required, number) - Unik identifierare.
+ DomainValueID: `54907` (required, number) - Identifierare för egenskapsvärde (domänvärde).

## User (object)
+ UserID: `90000` (number, required) - Unik identifierare.
+ Username: `roger@medicor.se` (string, required) - Unikt användarnamn (helst e-post).
+ HSAID: `SE2321000131-E000000007501` (string) - ID för kopplas autentisering (HSAID, namn eller personnummer).
+ FirstName: `Roger` (string) - Förnamn.
+ LastName: `Salomonsson` (string) - Efternamn.
+ WorkTitle: `Systemutvecklare` (string) - Tjänstetitel.
+ Organization: `Registercentrum` (string) - Namn på arbetsplats.
+ StreetAdress: `Medicinaregatan 18G` (string) - Arbetsplatsens gatuadress.
+ PostalNumber: `413 45` (string) - Arbetsplatsens postnummer.
+ PostalOffice: `Göteborg` (string) - Arbetsplatsens postort.
+ Email: `roger@medicor.se` (string) - E-postadress.
+ DefaultContextID (Context) - Kontext vid senaste inloggningen.

## Context (object)
+ ContextID: `30730` (number, required) - Unik identifierare.
+ IsActive: `true` (boolean) - Om aktiv (kan inte användas i brukarsammanhang annars).
+ Role (Role, required) - Tillhörande roll.
+ Unit (Unit, required) - Tillhörande vårdenhet.
+ User (User, required) - Tillhörande anändare.

## Role (object)
+ RoleID: `201` (number, required) - Unik identifierare.
+ RoleName: `API–brukare` (string) - Rollens namn.
+ IsPermittedToLogin: `false` (boolean) - Om inloggning är tillåten (endast läsning).
+ IsPermittedToRegister: `false` (boolean) - Om registrering i register är tillåten.
+ IsPermittedToViewHistory: `false` (boolean) - Om registreringshistorik får visas.
+ IsPermittedToAdminister: `false` (boolean) - Om administration av register 'r tillåten.
+ IsPermittedToCrossBorder: `false` (boolean) - Om överbryggning av vårdenhetsgränser är tillåten.

## Resource (object)
+ ResourceID: `1234` (number, required) - Unik identifierare.

## Site (object)
+ SiteID: `100` (number, required) - Unik identifierare.
+ SiteName: `Registercentrum Västra Götaland` (string, required) - Titel på webbplatsen.
+ ThemeSettings: `{}` (string, required) - JSON-objekt med temainställningar.
+ LanguageID: `sv` (string, required) - Språkkod (ISO 639).
+ CountryID: `SE` (string, required) - Landskod (ISO 3166).

## Page (object)
+ PageID: `1001` (number, required) - Unik identifierare.

## Subject (object)
+ SubjectID: `1001` (number, required) - Unik identifierare.

## LogEntry (object)
+ LogEntryID: `1001` (number, required) - Unik identifierare.


## Externa entiteter

## OrderResponse (object)
+ orderRef: `4f748f5b-fb02-4529-b242-ddf651f954c9` (string) - Referens till autentiserinsgorder.
+ autoStartToken: `f5e25e9a-0fc6-4209-81e2-4b38eb5fa175` (string) - För autentisering inom en och samma mobila enhet (reserverad).

## CollectResponse (enum[string])
    + Members 
        + `OUTSTANDING_TRANSACTION`
        + `NO_CLIENT`
        + `STARTED`
        + `USER_SIGN`
        + `COMPLETE`
        + `USER_CANCEL`
        + `EXPIRED_TRANSACTION`